/* 
:root {
    --background: rgba(85, 214, 170, 0.85);
}


*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222;
    font-family: Seguoi, sans-serif;
    font-weight: 400;
}


.content {
    height: 200vh;
    background-color: #333;
}

/* my styles */

/*

header {
    
    background: var(--background);

} */

div.cards {
    display: flex;
   
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

.card {
   
 }