

/* header {
    background-color: purple;
    grid-column: 1/4;
    grid-row: 1/2;
}

.back, .next {
    background-color: lightblue;
}

.img-section {
    background-color: limegreen
}

/* .img-section > img {
    
}

.my-site {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto 1fr;
    /*height: 100vh;}*/

    *, *::after, *::before {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        background: #222;
        font-family: sans-serif;
    }
    
    :root {
        --background: rgba(85, 214, 170, 0.85);
    }
    
    
    header {
        background-color: var(--background);
        text-align: center;
    }
