

/* header {
    background-color: purple;
    grid-column: 1/4;
    grid-row: 1/2;
}

.back, .next {
    background-color: lightblue;
}

.img-section {
    background-color: limegreen
}

/* .img-section > img {
    
}

.my-site {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr auto 1fr;
    /*height: 100vh;}*/

@import url('https://fonts.googleapis.com/css?family=Gugi');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #222;
    font-family: 'Gugi', cursive;
}

:root {
    --background: rgba(85, 214, 170, 0.75);
}

.content {
    height: 200vh;
    background: url("https://picsum.photos/id/1000/1920/1280");    
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}


header {
    background-color: var(--background);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header .nav-toggle:checked ~ nav  {

   display: block;
}


nav {
    position: absolute;
    text-align: left;
    background: var(--background);
    width: 100%;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav a:hover {
    color: #000;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    background: white;
    width: 2em;
    height: 2px;
    display: block;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
    position: absolute;
    content: '';
}

.nav-toggle-label span::before {
    top: 7px
}

.nav-toggle-label span::after {
    bottom: 7px
}